<div class="main">
<h1>Orders</h1>

<% @wishes.reverse_order.each do |wish| %>
    <% if wish.user_id.present? %>
        <% user = User.find wish.user_id %>
    <% end %>
    <hr>
    <div class='row'>
      <div>Invoice: <%= wish.invoice_number %></div>
      <div>Date: <%= wish.purchase_date %></div>
      <div>Price: <%= number_to_currency(wish.total_revenue) %></div>
      <div><%= link_to(button_tag("View"), wish_path(wish.id)) %></div>
    </div>
<% end %>
</div>
