<div class="main">
<h1>Orders</h1>

<% @wishes.reverse_order.each do |wish| %>
    <% if wish.user_id.present? %>
        <% user = User.find wish.user_id %>
    <% end %>
    <div class='row'>
      <table>
        <tbody>
          <tr>
            <td>Invoice: <%= wish.invoice_number %></td>
            <td>Date: <%= wish.purchase_date %></td>
            <td>Price: <%= number_to_currency(wish.total_revenue) %></td>
            <td><%= link_to(button_tag("View"), wish_path(wish.id)) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>

</div>
