<div class="alluser">
  <h1>All users</h1>
  <% @users.each do |user| %>
  <p> USER EMAIL:: <%= user.email %> ::SINCE:: <%= user.created_at %>
  <%= link_to '   => DELETE PROFILE <= ', user, :method => :delete %></p>
<% end %>
</div>
