.index-description{
  background-color: #ECECEC;
  z-index: 100;
  padding: 60px 0 23px 0;

  h2{
    font-size: 1.6vw;
  }
  .gray-text{
    font-size: 3.2vw;
    letter-spacing: normal;
    color: #909092;
    text-shadow: none;
    font-weight: 800;
  }
  .blue-text{
    font-size: 2.4vw;
    color: #6e93fa;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;

  }
  .black-text{
    font-size: 2.4vw;
    font-weight: 700;
  }
  .normal-text{
    font-size: 2vw;
  }
  @media screen and (max-width:550px){
    .gray-text{
      font-size: 30px;
    }
    .blue-text{
      font-size: 24px;
    }
    .black-text{
      font-size: 24px;
    }
    .normal-text{
      font-size: 17px;
    }
  }
}



.banner img {
  margin-top: 50px;
  max-width: 100%;
  margin-top: 350px;
  position: relative;
  display: block;
}

.categories-links{
  max-width: 1110px;
  margin: 0 auto;
  padding: 6% 0 6% 0;
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  .grid-item {
    float: left;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  .link-img{
    transition: 0.5s ease-in-out;
    &:hover{
    opacity: 0.7;
  }
 }
 .row{
   margin: 0 auto;
 }
}

@media screen and (max-width:1200px){
  .categories-links{
  width: 556px;
  height: 1800px;
 }
}

@media screen and (max-width:550px){
  .hide-small{
    display: none;
  }
  .image-g{
    img{
      width: 300px;
    }
  }
  .categories-links{
      width: 300px;
      height: 1600px;
      margin-top: -260px;
   }
}
