
.index-description img{
  max-width: 100%;
}

.index-description{
  background-color: #ECECEC;
  z-index: 100;
}

.index-categories{
  margin: 40px 0px 40px 0px;
  padding: 30px;
  background-color: white;
}

.index-categories img{
  margin: -1.5px;
}

// SHOW CATEGORIES

.banner img {
  margin-top: 50px;
  max-width: 100%;
  margin-top: 71px;
  position: relative;
  left: 100%;
  display: block;
  margin-left: -20px

}
