@import url(https://fonts.googleapis.com/css?family=Montserrat);

.row {
  max-width: 90% !important;
  margin: 0 auto !important;
}

.main {
  padding: 80px 0px 40px 0px;
}

.with-margin-top{
  margin-top: 60px;
}

.empty-page{
  padding: 120px;
  a{
    color: gray;
    &:hover{
      color: darken(gray, 30%);
    }
  }
}

#myCarousel{
  width: 80%;
  min-width: 350px;
  .carousel-control{
    background-image: none;
  }
  .carousel-indicators li{
    border: 1px solid black;
  }

  img{
    min-width: 100px;
    margin: 0 auto;
  }
  .carousel-control {
    .glyphicon-chevron-right{
      .carousel-control {
        .icon-next {
          margin-right: -30px;
        }
      }
    }
  }
  .carousel-control{
     .glyphicon-chevron-left{
        .carousel-control {
          .icon-prev {
            margin-left: -40px !important;
        }
      }
    }
  }
 }


 .button {
   &.black{
    border: 2px solid black !important;
    background-color:black !important;
    padding:1em !important;
    font-size: 12px;
    transition: 0.5s ease-in-out;
		&:hover {
			border: 2px solid black !important;
			color:white !important;
			background-color: white !important;
      color: black !important;
      text-decoration: none;
		}
  }
}



// FORMS
form {
  margin: 0 auto !important;
  width: 343px;
  padding: 30px;
  label {
    font-size: 15px;
    font-weight: normal;
  }
	input {
		background:transparent;
		border-top:none !important;
    border-left: none !important;
    border-right: none !important;
		border-bottom:2px solid gainsboro !important;
		padding:10px;
		color:black;
		text-align:left;
		width:100%;
		display:inline-block;
		box-shadow:none !important;
		&:focus, &:hover {
			background:transparent;
			border:0;
			border-bottom:2px solid darken(gainsboro,20%);
			box-shadow:none;
		}
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }
	}
  input[type="checkbox"] {
    margin: 10px;
  }
  .inline-checkbox{
    display: flex;
    width: 300px;
    overflow: scroll;
  }

}

.form-login{
  padding: 20px;
}

.signup{
  padding: 80px 40px 40px 60px;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 1000px){
  .navbar-default {
    .navbar-nav {
     li {
       a{
        padding: 22px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        }
      }
    }
  }
}

.favorite-show{
  max-height: 400px;
  overflow: scroll;
}

tbody {
  border: none !important;
  tr:nth-child(even) {
    background-color: white !important;
  }
  tr{
    border-bottom: 1px solid gainsboro !important;
  }
  td{
    text-align: left;
    &.center{
      text-align: center;
    }
  }

}
