//FOOTER
.footer{
  background-color: #ECECEC;
  padding: 2%;
  .footer-left{
    text-align: left;
    margin: 30px 0;
  }
}


.socialmedia {
  text-align: end;
  margin-bottom: 20px;
}

.pic img {
  max-width: 50%;
  display: flex;
}

.socialmedia img:hover {
  background: white;
  border-radius: 25px;
}

.imageLoad {
	position: fixed;
  width:100%;
  height:100%;
	z-index: 9999;
  background: url(asset-path("load.gif")) center no-repeat #fff;

}
