// Place all the styles related to the favorite_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb {
  width: 20em;
  border: 2px solid white;
  display: inline-block;
  margin: 10px;
}

.thumb2 {
  width: 25em;
  border: 2px solid white;
  display: inline-block;
  margin: 10px;
}

.mini-img{
  width: 7em;
}

.logo-bigger{
  width: 80%;
  margin-top: -8px;
}

.profilepic{
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: 4px solid #29b8bc;
}

.favorite-img{
  width: 12em;
  height: 12em;
}

.feature {
  border-radius: 10%;
  max-width: 100%;
}

.imagebag{
  width: 20px;
}

.circle{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #29b8bc;
  display: inline-block;
  color: white;
}

img {
  max-width: 100%;
}
