// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner2 {
  width: 100%;
  margin-top: 70px;
}

.banner2 img{
  min-height: 150px;
}

.banner {
  width: 100%;
  background-position: center;
  height: 95vh;
}

.imageShowPage{
  margin-left: 40px;
  width: 100%;
  background-position: center;
}


.handle {
  position: relative;
  left: 100%;
  margin-left: -45px;
  height: 90px;
  width: 90px;
  display: block;
  cursor: ew-resize;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.panel {
  width: 50%;
  top: 0;
  height: 100vh;
  position: absolute;
  background-position: center;
  z-index: 3;
  width: 50%;
}

.right {
  height: 100%;
  width: 100%;
  background-image: url(asset-path("1300coral.jpg"));
  background-size: cover;
  background-attachment: fixed;
  right: 0;
  z-index: 0;
  overflow: hidden;
}


.left {
  background-image: url(asset-path("1300azul.jpg"));
  background-size: cover;
  background-attachment: fixed;
  left: 0;
  z-index: 2;
}


.left {
  -webkit-animation-name: example;
  -webkit-animation-duration: 1.5s;
  animation-name: mover;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
   animation-direction: alternate;

}

@-webkit-keyframes mover {
    from {width: 50%;}
    to {width: 90%;}
}

@keyframes mover {
    from {width: 50%;}
    to {width: 90%;}
}


.aniv{
  margin-left: 90px;
}
