// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-description{
  text-align: left;
}

.products-image {
  position: relative;
  float: left;
  .secondImg {
      position: absolute;
      left: 0;
      top: 0;
      display: none;
  }
  &:hover .secondImg {
      display: block;
  }
}
