// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
}

.alluser {
  padding: 80px 40px 40px 60px;
}

.alluser a{
  color:blue;
}
.alluser a:hover{
  color:red;
}

.fb-like{
text-align: right;
}

p {
  color: black;
}

h1, h2 {
  text-align: center;
  letter-spacing: .1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-shadow: 2px 2px 2px white;

}

a{
  color: black;
}

a:hover{
  color: grey;
}

img {
  max-width: 100%;
}

.logo {
  width: 80px;
}

.main {
  padding: 80px 40px 40px 60px;
}

.main2{
  padding: 150px 60px 150px 60px;
}


//NAV BAR
.navbar-default{
  background-color: white;
  padding: 10px;
}


.navbar-default a{
  padding: 20px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

.navbar-default a.logo {
  position: absolute;
  left: 50%;
  margin-left: -43px;
  top: 20px;
  padding: 0;
}

.navbar-default .navbar-nav>li>a{
  color: black;
}

.navbar-default .navbar-nav>li>a:hover{
  color: grey;
}

//INDEX CATEGORIES
.background-image {
  background-attachment: fixed;
  background-image: url("http://s19.postimg.org/fpnj1th5v/1300backazul.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 50%;
  margin: 0 auto;
}

.index-description img{
  max-width: 100%;
  background-color: #ECECEC;
}

.index-categories{
  margin: 40px 0px 40px 0px;
  padding: 30px;
  background-color: white;
}

.index-categories img{
  margin: -1.5px;
}


// SHOW CATEGORIES
.banner img {
  margin-top: 50px;
  max-width: 100%;
  margin-top: 71px;
}

// INDEX PRODUCTS
.products {
  display: inline-block;
  margin-bottom: 30px;
}

// SHOW PRODUCTS
.productimage {
  display: inline-block;
  padding-right: 50px;
  margin-top: 30px;
}

.producttext {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  background-color: rgba(220, 220, 220, 0.37);
  box-shadow: 2px 2px 2px gainsboro;
  padding: 10px;
  width: 350px;
  height: 500px;
  text-align: center;
}

@media (max-width: 1020px) {
  .producttext {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  background-color: rgba(220, 220, 220, 0);
  box-shadow: 0px 0px 0px white;
  max-width: 500px;
  margin-left: -50px;
  }

  p, h3{
    font-size: 15px;
  }

  h2, h1,{
    font-size: 17px;
  }

  .loginbutton {
    max-width: 60%;
  }

}

.loginbutton{
  width: 250px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.loginbutton:hover{
  width: 250px;
  margin-top: 30px;
  box-shadow: 2px 2px 2px gray;
  margin-bottom: 10px;
}

//IMAGES
.thumb {
  width: 20em;
  border: 2px solid white;
  display: inline-block;
  margin: 10px;
}

.thumb2 {
  width: 25em;
  border: 2px solid white;
  display: inline-block;
  margin: 10px;
}

.profilepic{
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: 4px solid #EE9A7A;
}

.feature {
  border-radius: 10%;
  max-width: 100%;
}

// FORMS
label {
  width: 100px;
  display: inline-block;
}

fieldset {
  border: none;
  min-width: 60px;
}

input[type="file"]{
  display: inline-block;
}

.signup{
  padding: 80px 40px 40px 60px;
  display: inline-block;
  vertical-align: top;
}

//FOOTER
.footer{
  background-color: #ECECEC;
  padding: 2%;
  max-width: 100%;
}


.socialmedia {
  text-align: end;
  margin-bottom: 20px;
}

.pic img {
  max-width: 50%;
  display: flex;
}

.socialmedia img:hover {
  background: white;
  border-radius: 25px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
 text-decoration:none;
 text-align:center;
 padding:14px 16px;
 border:none;
 font:17px Arial, Helvetica, sans-serif;
 font-weight:bold;
 color:#ffffff;
 background:#000000;
 border-radius: 2%;
 margin-top: 20px;
 margin-bottom: 20px;

}

@media (max-width: 1160px) {
  div.index-categories a {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  div.index-categories img {
  width: 25%;
  margin: 0 auto;
  margin-right: -4px;
}
  div.index-categories a img {
    width: 100%;
  }
}

@media (max-width: 1000px){
  .navbar-default a{
    padding: 20px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}
