// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  background-color: lavender;
}

.products {
  display: inline-block;
  max-width: 25%;
  text-align: center;
  padding: 30px;
}

.thumb {
  width: 10em;
  border: 2px solid white;
  border-radius: 50%;
}

h1 {
  text-align: center;
  letter-spacing: .2em;
  font-family: 'Poiret One', cursive;
  margin-top: 30px;
}

nav {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  padding: 30px;
  z-index: 2000000;
  width: 100%;
  display: inline-block;
  box-shadow: 1px 2px 2px gainsboro;
  margin: -10px;
}

// .background-image {
//   background-image: url("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xla1/v/t1.0-9/12801152_250439548622026_5639803690400642832_n.jpg?oh=d035f8c33788af82fac1374ce918aef0&oe=5779529E&__gda__=1464808243_466ef8a5280ed408a23328d374feb76e");
//   background-attachment: fixed;
//   background-size: cover;
//   background-repeat: no-repeat;
//   position: relative;
//   padding-top: 10%;
//   padding-bottom: 700px;
//   margin: 0 auto;
//   opacity: 0.2;
// }




a {
  color: white;
  text-decoration: none;
  padding: 10px
}

a:visited{
  color: white
}

a:hover {
  color: rgba(250, 167, 136, 1);
}

label {
  width: 100px;
  display: inline-block;
}

button {

}
