// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
}

.alluser {
  padding: 80px 40px 40px 60px;
}

.alluser a{
  color: #29b8bc;
}
.alluser a:hover{
  color:red;
}

.fb-like{
text-align: right;
}

p {
  color: black;
  font-size: 15px;
}

h1 {
  letter-spacing: .1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px !important;
}

h2{
  font-size: 22px !important;
}


a{
  color: black;
}

a:hover{
  color: grey;
}

.logo {
  width: 80px;
}

.loginbutton {
  max-width: 60%;
}


.loginbutton{
  width: 250px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.loginbutton:hover{
  width: 250px;
  margin-top: 30px;
  box-shadow: 2px 2px 2px gray;
  margin-bottom: 10px;
}


// FORMS
label {
  font-size: 15px;
  display: inline-block;
}

fieldset {
  border: none;
  min-width: 60px;
}

input[type="file"]{
  display: inline-block;
}

.signup{
  padding: 80px 40px 40px 60px;
  display: inline-block;
  vertical-align: top;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
 text-decoration:none;
 text-align:center;
 padding:14px 16px;
 border:none;
 font:17px Arial, Helvetica, sans-serif;
 font-weight:bold;
 color:#ffffff;
 background: black;
 border-radius: 2%;
 margin-top: 20px;
 margin-bottom: 20px;

}

@media (max-width: 1000px){
  .navbar-default a{
    padding: 20px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.favorite-show{
  max-height: 400px;
  overflow: scroll;
}
