
<div class="background-image">
</div>


<div class="index-description">
  <img src="http://s29.postimg.org/afzqzijqv/faixameio2.jpg" alt="" />
</div>


<div class="index-categories">
  <%= image_tag("http://cdn.makeagif.com/media/3-27-2016/h7qlAE.gif") %>
  <%= image_tag("http://cdn.makeagif.com/media/3-28-2016/FMU7wk.gif") %>
  <% @categories.each do |category| %>
    <%= link_to(image_tag(category.image, :class => 'category', :title => category.name), category) %>
  <% end %>
</div>
