<h1>Rie</h1>

<hr>

<h1>Categories</h1>


<% @categories.each do |category| %>
<div class="products">
<%= link_to(image_tag(category.image, :class => 'thumb'), category) %>

<p><%= category.name %></p>
</div>
<% end %>
