

<div class="main">
  <div class="row">
    <h1>Inventório</h1>
    <div class="column large-12">
      <table>
        <tbody>
          <tr>
           <th>Produto</th>
           <th>Total Estoque</th>
           <th>Estoque esperando enviar</th>
           <th>Estoque para vendas</th>
         </tr>
          <% i = 0 %>
          <% @products.each do |product| %>
            <tr>
              <td><%= link_to product.name, product %></td>
              <td><%= product.inventory%></td>
              <td><%= @product_inventory_awaiting_delivery[i] %></td>
              <td><%= product.inventory %></td>
              <td><% i += 1 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
