

<div class="main">
  <div class="row">
    <h1>Inventório</h1>

    <div class="column large-12">
      <% i = 0 %>
      <table>
        <tbody>
          <% @products.each do |product| %>
              <tr>
                <td>Produto: <%= product.name %></td>
                <td>Total estoque: <%= product.inventory  %></td>
                <td>Estoque para vendas: <%= product.inventory %></td>
              </tr>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
</div>
</div>
